@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".dropdown").hide()
        })
        $(document).ready(function () {
            $(".stats_btn").click(function () {
                $(".dropdown").slideToggle();
            });
        });
        $(document).ready(function () {
            $(".stats_btn").click(function () {
                $(".table").animate({
                    top: "1583px"
                });
            });
        });
        $(document).ready(function () {
            $(".stats_btn").click(function () {
                $(".sort").animate({
                    top: "1535px"
                });
            });
        });
        $(document).ready(function () {
            $(".stats_btn").click(function () {
                $(".base").animate({
                    top: "2333px"
                });
            });
        });
    </script>
}
    
<div class="viewport">
    <div class="login_container">
        <div class="login_block">
            <h2>Проводим собрания кредиторов в электронном формате</h2>
            <p class="login_text">Организация собраний кредиторов в Online и Offline режимах. Быстрый и удобный способ проведения собрания без лишних затрат</p>
            <button class="signin">Войти</button>
            <a class="signup" href="#">Зарегистрироваться</a>
        </div>
        <div class="info_block">
            <div class="info_item_1">
                <p class="color_text">01 /</p>  
                <p class="p_heading">Тех. поддержка</p> 
                <p class="main_text">Наша поддержка поможет Вам настроить рабочее место,  а также проконсультирует о порядке проведения собрания на ЭТП</p>
            </div>
            <div class="info_item_2">
                <p class="color_text">02 /</p>  
                <p class="p_heading">Автоматизация</p> 
                <p class="main_text">Подсчет голосов кредиторов происходит автоматически, также составляются протоколы и рассылаются уведомления участникам собрания</p>
            </div>
            <div class="info_item_3">
                <p class="color_text">03 /</p>  
                <p class="p_heading">Видеосвязь и чат</p> 
                <p class="main_text">Мы даем возможность провести собрания кредиторов с использованием видеосвязи и чата как для организаторов, так и для участников собрания</p>
            </div>
            <div class="info_item_4">
                <p class="color_text">04 /</p>  
                <p class="p_heading">Доступ 24/7</p> 
                <p class="main_text">Вся информация о проведенных собраниях хранится в личном кабинете. Вам предоставляется круглосуточный доступ к данной информации</p>
            </div>
        </div>
    </div>
</div>

<h2 class="heading">Реестр собраний</h2>

<div class="stats">
    <ul>
        <li class="stats_head">Общая статистика</li>
        <li class="stats_item">Участников: <b>0</b></li>
        <li class="stats_item">Организаторов: <b>0</b></li>
        <li class="stats_item">Проведено собраний: <b>0</b></li>
        <li class="stats_item"><a  class="stats_btn"><b>Найти</b><img src="~/img/lupa.svg" /></a></li>
    </ul>
</div>

<div class="dropdown">
    <h3>Поиск собрания</h3>
    <ul class="form_gr1">
        <li class="form_text">Номер собрания</li>
        <li><input type="text" placeholder="Номер собрания" /></li>
    </ul>
    <ul class="form_gr2">
        <li class="form_text">Должник</li>
        <li><input type="text" placeholder="Должник" /></li>
    </ul>
    <ul class="form3">
        <li class="form_text">Организатор собрания (Арбитражный управляющий или кредитор)</li>
        <li><input type="text" placeholder="Организатор собрания (Арбитражный управляющий или кредитор)" /></li>
    </ul>
    <ul class="form_gr3">
        <li class="form_text">Даты приема заявок</li>
        <li>с<input type="text" placeholder="00.00.0000" /></li>
        <li>по<input type="text" placeholder="00.00.0000" /></li>
    </ul>
    <ul class="form_gr4">
        <li class="form_text">Статус</li>
        <li><input type="text" placeholder="Не выбрано" /></li>
    </ul>
    <ul class="form_gr5">
        <li class="form_text">Тип собрания</li>
        <li><input type="text" placeholder="Не выбрано" /></li>
    </ul>
</div>

<p class="sort">Сортировать по <b>номеру</b><img src="~/img/down_arrow.svg" /></p>

<div class="table">
    <div class="table_item">
        <h3 class="table_h">1013 Очное</h3>
        <ul class="table_data">
            <li class="thin_text">Организатор</li>
            <li>ООО «Право-Торг»</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Должник</li>
            <li>Бальдяева Юлия Александровна</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Статус</li>
            <li>Отменено Органзатором</li>
        </ul>
        <div class="vl"></div>
        <div class="date">
            <ul class="datetime">
                <li class="thin_text">Дата проведения собрания</li>
                <li>29.04.2022 14:00</li>
            </ul>
            <ul class="datetime">
                <li class="thin_text">Даты приема заявок</li>
                <li>14.04.2022 - 28.04.2022 </li>
            </ul>
        </div>
    </div>
    <div class="table_item">
        <h3 class="table_h">1013 Очное</h3>
        <ul class="table_data">
            <li class="thin_text">Организатор</li>
            <li>ООО «Право-Торг»</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Должник</li>
            <li>Бальдяева Юлия Александровна</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Статус</li>
            <li>Отменено Органзатором</li>
        </ul>
        <div class="vl"></div>
        <div class="date">
            <ul class="datetime">
                <li class="thin_text">Дата проведения собрания</li>
                <li>29.04.2022 14:00</li>
            </ul>
            <ul class="datetime">
                <li class="thin_text">Даты приема заявок</li>
                <li>14.04.2022 - 28.04.2022 </li>
            </ul>
        </div>
    </div>
    <div class="table_item">
        <h3 class="table_h">1013 Очное</h3>
        <ul class="table_data">
            <li class="thin_text">Организатор</li>
            <li>ООО «Право-Торг»</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Должник</li>
            <li>Бальдяева Юлия Александровна</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Статус</li>
            <li>Отменено Органзатором</li>
        </ul>
        <div class="vl"></div>
        <div class="date">
            <ul class="datetime">
                <li class="thin_text">Дата проведения собрания</li>
                <li>29.04.2022 14:00</li>
            </ul>
            <ul class="datetime">
                <li class="thin_text">Даты приема заявок</li>
                <li>14.04.2022 - 28.04.2022 </li>
            </ul>
        </div>
    </div>
    <div class="table_item">
        <h3 class="table_h">1013 Очное</h3>
        <ul class="table_data">
            <li class="thin_text">Организатор</li>
            <li>ООО «Право-Торг»</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Должник</li>
            <li>Бальдяева Юлия Александровна</li>
        </ul>
        <ul class="table_data">
            <li class="thin_text">Статус</li>
            <li>Отменено Органзатором</li>
        </ul>
        <div class="vl"></div>
        <div class="date">
            <ul class="datetime">
                <li class="thin_text">Дата проведения собрания</li>
                <li>29.04.2022 14:00</li>
            </ul>
            <ul class="datetime">
                <li class="thin_text">Даты приема заявок</li>
                <li>14.04.2022 - 28.04.2022 </li>
            </ul>
        </div>
    </div>
</div>


