@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="viewport">
    <div class="login_container">
        <div class="login_block">
            <h2>Проводим собрания кредиторов в электронном формате</h2>
            <p>Организация собраний кредиторов в Online и Offline режимах. Быстрый и удобный способ проведения собрания без лишних затрат</p>
            <button class="signin">Войти</button>
            <a class="signup" href="#">Зарегистрироваться</a>
        </div>
        <div class="info_block">
            <div class="info_item_1">
                <p class="color_text">01 /</p>  
                <p class="heading">Тех. поддержка</p> 
                <p class="main_text">Наша поддержка поможет Вам настроить рабочее место,  а также проконсультирует о порядке проведения собрания на ЭТП</p>
            </div>
            <div class="info_item_2">
                <p class="color_text">02 /</p>  
                <p class="heading">Автоматизация</p> 
                <p class="main_text">Подсчет голосов кредиторов происходит автоматически, также составляются протоколы и рассылаются уведомления участникам собрания</p>
            </div>
            <div class="info_item_3">
                <p class="color_text">03 /</p>  
                <p class="heading">Видеосвязь и чат</p> 
                <p class="main_text">Мы даем возможность провести собрания кредиторов с использованием видеосвязи и чата как для организаторов, так и для участников собрания</p>
            </div>
            <div class="info_item_4">
                <p class="color_text">04 /</p>  
                <p class="heading">Доступ 24/7</p> 
                <p class="main_text">Вся информация о проведенных собраниях хранится в личном кабинете. Вам предоставляется круглосуточный доступ к данной информации</p>
            </div>
        </div>
    </div>
</div>
